In [5]:
import pandas as pd
import load_data

In [6]:
df = load_data.get_df()

In [7]:
df.shape

(426, 3)

In [8]:
df.columns

Index(['URLS', 'Headline', 'Article'], dtype='object')

In [9]:
df.head()

,URLS,Headline,Article
0,/business/economy/opinion/news/averting-fiscal...,Averting fiscal crises in a deteriorating glob...,The war in Ukraine and aftershocks from the Co...
1,/opinion/views/news/remembering-the-queens-leg...,"In remembering the 'Queen's legacy', why do we...",When news broke of the death of Queen Elizabet...
2,/news/bangladesh/news/temple-idol-vandalised-j...,Temple idol vandalised in Jhenidah,Unidentified miscreants vandalised an idol of ...
3,/news/bangladesh/crime-justice/news/attack-bcl...,"""Attack on BCL men"": 24 Chhatra Odhikar Parish...",A Dhaka court has sent 24 leaders and activist...
4,/opinion/views/news/shanghai-cooperation-organ...,Shanghai Cooperation Organization Summit 2022:...,The Shanghai Cooperation Organization's (SCO) ...

#### Preliminary text exploration

In [10]:
# Fetch the word_cound for each headline
df['word_count_headline'] = df['Headline'].apply(
    lambda x: len(str(x).split(" "))
)

In [12]:
df[['Headline','word_count_headline']].head(10)

                                            Headline  word_count_headline
0  Averting fiscal crises in a deteriorating glob...                    9
1  In remembering the 'Queen's legacy', why do we...                   14
2                 Temple idol vandalised in Jhenidah                    5
3  "Attack on BCL men": 24 Chhatra Odhikar Parish...                   12
4  Shanghai Cooperation Organization Summit 2022:...                    9
5                 Hoolock rescued in Ctg; 2 detained                    6
6                  4 killed in Gopalganj road crash                     7
7     An unusual gift for Putin on his 70th birthday                    9
8                      Seminar on managing pain held                    5
9  OPEC+ oil output cut shows widening rift betwe...                   12

In [13]:
df.word_count_headline.value_counts()

7     63
8     62
9     58
5     56
6     48
10    44
11    25
12    20
4     17
13    10
3      9
14     6
2      3
16     2
17     1
15     1
21     1
Name: word_count_headline, dtype: int64

In [14]:
df.word_count_headline.describe()

count    426.000000
mean       7.938967
std        2.672040
min        2.000000
25%        6.000000
50%        8.000000
75%       10.000000
max       21.000000
Name: word_count_headline, dtype: float64

#### Most common and uncommon words

In [15]:
# Identify common words