In [7]:
import pandas as pd
from pathlib import Path
path = Path("./Data/top_news")

In [8]:
df = pd.DataFrame()

for f in path.iterdir():
    # reading the file in dataframe
    year,month,day = f.stem.split('_')[2:5]
    date = f"{year}-{month}-{day}"

    try:
        temp_df = pd.read_csv(f, encoding="utf8")
    except UnicodeDecodeError:
        temp_df = pd.read_csv(f, encoding="'windows-1252")
    
    temp_df['date_published'] = date

    # adding a single file dataframe to the main dataframe
    df = pd.concat([df, temp_df], axis=0)

In [9]:
df.shape

(533, 4)

In [10]:
df.head()

,URLS,Headline,Article,date_published
0,/weekend-read/news/discovery-may-save-bara-kat...,A discovery that may save Bara Katra,An exciting new discovery by researchers has r...,2022-10-01
1,/rohingya-influx/news/myanmar-conflicts-hurtin...,Myanmar conflicts hurting Bangladesh,Conflicts in Myanmar intensified after the mil...,2022-10-01
2,/weekend-read/news/the-colourful-history-bara-...,The colourful history of Bara Katra,"""Katra"" is a Persian word that means caravanse...",2022-10-01
3,/youth/education/news/teachers-public-univs-wo...,Teachers at public univs: Worktime set at 40 ...,A public university teacher will have to work ...,2022-10-01
4,/sports/cricket/news/salt-sinks-pakistan-engla...,Salt sinks Pakistan as England force series de...,England's Phil Salt scored a blistering half-c...,2022-10-01

In [11]:
df.to_csv("./Data/top_data_csv.csv",index=False)